<div class="container">
  <div class="row well notes-container">
    <div ng-show="notes.emptyNotes">
      <blockquote>
        <p class="lead">Hey Human &#128522;</p><p>Seems like you dont have any <strong>Notes</strong> &#x1f61e;</p>
      </blockquote>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6 col-md-offset-1 panel panel-default note" ng-repeat="note in notes.notesList | orderObjectBy:'note.timestamp':true track by note.timestamp">
      <div class="panel-body">
        <h4>
          <strong>{{note.title}}</strong>
          <span ng-click="notes.editNote({{note.id}})" class="edit-icon pull-right glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <span ng-click="notes.removeNote({{note.id}})" class="trash-icon pull-right glyphicon glyphicon-trash" aria-hidden="true"></span>
        </h4>
        <p>{{note.content}}</p>
        <h6> {{note.timestamp | date:'short'}} </h6>
      </div>
      <div class="clearfix visible-xs-block"></div>
    </div>
  </div>
  <div class="alert alert-info" ng-show="notes.showAlert" role="alert">{{notes.alertMessage}}</div>
    <button type="button" class="btn create-button" ng-click="notes.invokeCreationofNote()">
  Create a Note
</button>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{notes.modal.getModalTitle()}}</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" ng-model="notes.selectedNoteTitle" class="form-control" id="title" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Content</label>
              <div class="col-sm-10">
                <textarea name="Content" class="form-control" rows="3" ng-model="notes.selectedNoteContent" placeholder="Content"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" ng-click="(notes.modal.getAction())()" >{{notes.modal.getActionButtonTitle()}}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- Button trigger modal -->
</div>